@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  /* scroll-behavior: smooth !important; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    background: black;
  }
}

.overflow-y-hidden {
  overflow-y: hidden;
}

@layer utilities {
  .clip-square {
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
  }
  .clip-polygon {
    clip-path: polygon(0 0, 100% 3rem, 100% 100%, 0% 100%);
  }
  .clip-polygon-reverse {
    clip-path: polygon(0 2rem, 100% 0%, 100% 100%, 0 100%);
  }
  .clip-polygon-lg {
    clip-path: polygon(0 0, 100% 5rem, 100% 100%, 0% 100%);
  }
  .clip-polygon-reverse-lg {
    clip-path: polygon(0 5rem, 100% 0%, 100% 100%, 0% 100%);
  }
}
